.product {
  @include flex(flex-start, flex-start);

  &__images {
      @include flex(flex-start, flex-start);
      width: 60%;
      flex-wrap: wrap;

      &__list {
          width: 20%;

          &__item {
              cursor: pointer;
          }
      }

      &__main {
          flex-grow: 1;
          padding-top: 100%;
          position: relative;

          img{
            position: absolute;
            top:0;
            left: 50%;
            height: 100%;
            transform: translateX(-50%);
          }
      }
  }

  &__info{
    
  }
}

.product-description{
  width: 100%;
  padding: 2rem 2rem 3rem;
  height: 400px;
  overflow: hidden;
  position: relative;

  &.expand{
    height: max-content;
  }

  &__title{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 2rem 0;
  }
  &__content{
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-align: justify;
  }

  &__toggle{
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
  }
}